<h1>{{title}} </h1>
<div class="conteiner">

<form>
numero 1: <input type="number" [(ngModel)]="numero1" name="numero1" ><br>
<br>
numero 2: <input type="number" [(ngModel)]="numero2" name="numero2" ><br>
<br>
<input type="submit" value="sumar" (click)="sumar()" class="btn btn-outline-success">
<input type="submit" value="restar" (click)="restar()" class="btn btn-outline-warning">
<input type="submit" value="multiplicar" (click)="multiplicar()" class="btn btn-outline-warning">
<input type="submit" value="dividir" (click)="dividir()" class="btn btn-outline-success">

</form>

<p> Resultado: {{resultado}} </p>

</div>